body {
  background: url("./images/backgrounds/grey_wash_wall.png");
  /*dark_embroidery, grey_wash_wall, pink_dust
  background-repeat: repeat;
}

a {
  color:inherit;
}

a:hover{
  text-decoration: none;
}


/*.navbar-nav {
  margin:0 auto;
  display: inline-block;
  text-align: center;
}